<html>
<head>
  <title>Node.js Desktop Application using Electron, Bootstrap and Express.js</title>
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">

</head>
<body>

  <div class="container">
    <div class="form-style-6">
        <form class="border border-light" method="post" action="/form-submit" id="clientform">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                      <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                          <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
              
                            <div class="form-outline form-white mb-4">
                              <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                              <label class="form-label" for="typeEmailX">Email</label>
                            </div>
              
                            <div class="form-outline form-white mb-4">
                              <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                              <label class="form-label" for="typePasswordX">Password</label>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input type="password" id="authToken" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX">Auth Token</label>
                              </div>
                            <button type="submit" class="btn btn-primary" id="send" >Login</button>
              
                          </div>
              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

        </form>
    </div>
  </div>
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>